[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"
pytest = "*"
tox = "*"
numpy = "*"
pandas = "*"
cython = "*"
matplotlib = "*"
pystan = "*"
fbprophet = "*"
redis = "*"
red-panda = "*"

[packages]

[requires]
python_version = "3.7"
